.result-container {
  display: flex;
  margin: .5rem;
}

.result-item {
  margin: .25rem;
  padding: 1rem;
}

.name a {
  text-decoration: none;
  font-weight: 600;
  color: inherit;
}

.name a:hover {
  font-weight: 800
}

.odd {
  background-color: rgb(200, 248, 223);

}

.even {
  background-color: #BDEAE0;
}