.primary-layout {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.nav-link {
  text-decoration: none;
  padding: 10px;
}

.nav-link:hover {
  font-weight: bold;
}

.active-nav-link {
  font-weight: bold;
}