.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  transition: all 0.4s ease;
  top                   : '50%';
  left                  : '50%';
  right                 : 'auto';
  bottom                : 'auto';
  margin-right           : '-50%';
  transform             : 'translate(-50%, -50%)'
}

.open-btn {
  margin: 1rem;
  padding: 1rem;
  border-radius: 12px;
  color: rgb(97, 64, 3);
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(253, 253, 208);
}

.open-btn:hover {
  background-color: rgb(248, 210, 140);
  cursor: pointer;
}

.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  padding: 0 0 1rem 0;
  opacity: 0.5;
  border: none;
}

.close-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.close-btn:before, .close-btn:after {
  position: absolute;
  left: 1rem;
  content: ' ';
  height: 1.5rem;
  width: 2px;
  background-color: #333;
}
.close-btn:before {
  transform: rotate(45deg);
}
.close-btn:after {
  transform: rotate(-45deg);
}

.modal-text {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 2rem;
  width: 50vw;
  height: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  box-shadow: 1px 2px 5px grey;
}

.divider {
  position:absolute;
    left:50%;
    top:10%;
    bottom:10%;
    border-left:1px solid white;
}