.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  transition: all 0.4s ease;
  top: '50%';
  left: '50%';
  right: 'auto';
  bottom: 'auto';
  margin-right: '-50%';
  transform: 'translate(-50%, -50%)'
}

.open-btn {
  margin: 1rem;
  padding: 1rem;
  border-radius: 12px;
  color: rgba(1, 92, 104, 0.795);
  font-size: 1rem;
  font-weight: bold;
  background-color: rgba(231, 250, 242, 0.74);
}

.open-btn:hover {
  background-color: rgba(204, 250, 231, 0.74);
  cursor: pointer;
}

.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  padding: 0 0 1rem 0;
  opacity: 0.5;
  border: none;
}

.close-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.close-btn:before, .close-btn:after {
  position: absolute;
  left: 1rem;
  content: ' ';
  height: 1.5rem;
  width: 2px;
  background-color: #333;
}
.close-btn:before {
  transform: rotate(45deg);
}
.close-btn:after {
  transform: rotate(-45deg);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 2rem;
  width: 50vw;
  height: 25%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  box-shadow: 1px 2px 5px grey;
  text-align: center;
}

.modal-text p a{
  text-decoration: none;
  color: rgb(5, 90, 86);
  font-weight: 700;
}

.modal-text p a:hover{
  /* font-style: italic; */
  text-shadow: 0 0 1px #999;

}


