* {
  margin: 0 auto;
  padding: 0;
}

body, html {
  height: 100%;
  width: 100%;
  background-color: rgb(245, 252, 253);
}

.App {
  text-align: center;
  /* display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-content: center;
  min-height: 90vh;
  position: relative;
  justify-content: center; */
  position: relative;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8% 80% 1fr;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  flex-grow: 1;
}

.question-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: rgb(235, 236, 236);
  /* background-color: rgb(250, 246, 236); */
  border-radius: 12px;
  /* justify-content: center; */
  margin: 2rem auto;
  padding: 2rem 0;
  width: 80%;
  height: 20rem;
  align-items: center;
}

.current-question {
  /* position: absolute; */
  margin: 0 5rem;
  padding: 1rem;
  font-size: 1.75rem;
  font-weight: 800;
  width: 100vw;
  align-self: center;
  justify-content: center;

  text-align: center;
  color: rgb(18, 58, 51);
  font-size: 1.5rem;
}

.choices-container {
  display: flex;
  width: auto;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

@media screen and (max-width: 1000px) {
  .choices-container {
    flex-direction: column;
  }
}