.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 85vh;
  padding: 1.5rem;
  align-content: center;
  margin: 0 auto;
  justify-content: center;
}

.main-content {
  flex-grow: 1;
}

.current-question {
  margin: 0 auto;
  padding: 1rem;
  font-size: 1.75rem;
  font-weight: 500
}

.choices-container {
  width: 100%
}

@media screen and (max-width: 1000px) {
  .back-arrow { width: 50% }
}


